.fullscreen {
  background: $color-steel;
  border: none;
  color: white;
  cursor: pointer;
  padding: 1rem .5rem;
  position: absolute;
  right: 1rem;
  text-align: right;
  top: 0;
  transition: opacity 400ms ease;
  width: 100%;
  will-change: opacity;
  z-index: 10;

  &--tiny {
    background: none;
    opacity: .4;
    width: auto;
  }

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:hover &__label,
  &:focus &__label {
    opacity: 1;
  }

  &__label {
    display: none;
  }

  &__icon {
    display: inline-block;
    fill: currentColor;
    height: 1.5rem;
    margin-left: .3rem;
    vertical-align: middle;
    width: 1.5rem;
  }
}
