.info {
  background: transparent;
  border: none;
  bottom: 1.5rem;
  color: white;
  cursor: pointer;
  opacity: 0;
  padding: 0;
  position: absolute;
  right: 1.5rem;
  transition: opacity 400ms ease;
  will-change: opacity;
  z-index: 20;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:hover &__label,
  &:focus &__label {
    opacity: 1;
  }

  &__label {
    display: none;
  }

  &__icon {
    display: inline-block;
    fill: currentColor;
    height: 1.5rem;
    margin-left: .3rem;
    pointer-events: none;
    vertical-align: middle;
    width: 1.5rem;
  }
}
