.intro-icon {
  fill: currentColor;
  height: 2.8rem;
  margin-bottom: 1.5rem;
  margin-top: 3rem;
  position: relative;
  transition: transform 200ms ease;
  vertical-align: middle;
  width: 2.8rem;

  @include mq(tablet) {
    margin-top: 2.5rem;
  }

  &--touch {
    @include mq(desktop) {
      height: 3rem;
      margin-bottom: 0;
      width: 3rem;
    }
  }

  &--keys {
    @include mq($until: desktop) {
      display: none;
    }

    @include mq(desktop) {
      height: 5rem;
      margin-bottom: 0;
      width: 5rem;
    }
  }

  @include mq(tablet) {
    margin-top: 2rem;
  }

  &:hover,
  &:focus {
    transform: scale(1.2);
  }

  &__label {
    font-family: $font-family-sans-serif;
    font-size: 1.2rem;
    font-weight: $font-weight-medium;
    line-height: 1.2;
    margin-left: 1.5rem;
    margin-right: 1rem;
    position: relative;
    text-transform: uppercase;
    top: 1.4rem;
    vertical-align: middle;

    @include mq($until: desktop) {
      display: none;
    }
  }
}
