.intro {
  font-family: $font-family-serif;
  font-size: 1rem;
  font-weight: $font-weight-medium;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 0;

  @include mq(tablet) {
    font-size: 1.15rem;
  }

  @include mq(desktop) {
    font-size: 1.3rem;
  }

  &--author {
    @include mq(tablet) {
      font-size: 1.4rem;
    }
  }

  & + & {
    margin-top: .5rem;

    @include mq(tablet) {
      margin-top: 1rem;
    }
  }
}
