.quote {
  margin-left: 0;
  margin-right: 0;

  &__text {
    font-family: $font-family-serif;
    font-size: 1.4rem;
    font-weight: $font-weight-medium;
    line-height: 1.2;
    margin-top: 1.5rem;

    @include mq(supersmall) {
      font-size: 1.5rem;
    }

    @include mq(small) {
      font-size: 1.6rem;
    }

    @include mq(tablet) {
      font-size: 1.8rem;
      line-height: 1.3;
      margin-top: 1rem;
    }

    @include mq(desktop) {
      font-size: 2.2rem;
    }
  }

  &__author {
    font-family: $font-family-sans-serif;
    font-size: .7rem;
    font-weight: $font-weight-regular;
    line-height: 1.2;
    margin-top: 1.5rem;
    text-transform: uppercase;

    @include mq(supersmall) {
      font-size: .9rem;
    }

    @include mq(small) {
      font-size: 1rem;
    }
  }
}
