.slide {
  background-color: black;
  cursor: pointer;
  display: inline-block;
  height: 100vh;
  position: relative;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  white-space: normal;
  width: 100vw;

  .no-js & {
    height: auto;
    min-height: 100vh;
  }

  &--intro,
  &--intro-title {
    background-color: $color-steel;
    color: white;
  }

  &--chapter-intro {
    background-color: $color-guardsmen;
    color: white;
  }

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0 1rem;

    > * {
      max-width: 65rem;
    }
  }

  .no-js &__content {
    height: auto;
  }

  &--intro &__content {
    @include mq($until: tablet) {
      justify-content: flex-start;
    }

    > div {
      @include mq($until: desktop) {
        padding-bottom: 2rem;
        padding-top: 5rem;
      }
    }
  }
}
