.title {
  font-family: $font-family-sans-serif;
  font-size: 3rem;
  font-weight: $font-weight-black;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 2rem;
  padding-top: .5rem;

  @include mq(supersmall) {
    font-size: 3.8rem;
    padding-top: 2rem;
  }

  @include mq(tablet) {
    font-size: 4.8rem;
    padding-bottom: 2.5rem;
  }
}
